#datatable-basic_length label{
    margin-left:20px;
}

.row.row-1 .col-xl-8 h5{
    color:#0082e2;
    font-size:20px;
    text-transform:uppercase;
    border-left:2px solid #0082e2;
    padding-left:10px;
    margin-top:25px;
    margin-bottom:-10px;
}
.row.row-1 .col-xl-8 h4{
    font-size:45px;
    color:#525262;
}
.row.row-2 .col-xl-8 h5{
    color:#88c131;
    font-size:18px;
    text-transform:uppercase;
    border-left:2px solid #88c131;
    padding-left:10px;
    margin-top:5px;
    margin-bottom:-10px;
}
.row.row-2 .col-xl-8 h4{
    font-size:45px;
    color:#525262;
}
.dt-buttons.btn-group{
    margin-left:20px;
}
#datatable-basic_filter{
    margin-right:20px;
}

div.dt-buttons {
    float: right;
}
.dataTables_filter {
   float: left !important;
   margin-left:210px;   
}
#datatable-basic_length{
    margin-bottom:-50px;
}
.dt-buttons.btn-group{
    margin-bottom:20px;
}
#date_range .form-group input{
    margin-bottom: 15px;  
}
#datatable-buttons_wrapper .dataTables_filter {
    margin-left:20px !important;   
 }
@media only screen and (max-width:767px){
    #datatable-basic .dataTables_filter {
       float: right !important;        
    }
    #datatable-basic_length{
       float:left !important;
    }
}
@media only screen and (max-width:500px){
    .dataTables_filter {
       margin-top:50px;        
    }
}

/*#date_range .form-group input[type="text"], #date_range .form-group select{
    width:250px;   
} */

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu>li>a:hover{
    background:#c5c5c580;
}

#daterange{
    display: none;
}

#companies_list input{
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}

#companies_list label{
    margin: 0px 20px 0px 3px;
}