#datatable-basic_length label{
    margin-left:20px;
}

.row.row-1 .col-xl-6 h5{
    color:#0082e2;
    font-size:20px;
    text-transform:uppercase;
    border-left:2px solid #0082e2;
    padding-left:10px;
    margin-top:25px;
    margin-bottom:-10px;
}
.row.row-1 .col-xl-6 h4{
    font-size:45px;
    color:#525262;
}
.row.row-2 .col-xl-6 h5{
    color:#88c131;
    font-size:18px;
    text-transform:uppercase;
    border-left:2px solid #88c131;
    padding-left:10px;
    margin-top:5px;
    margin-bottom:-10px;
}
.row.row-2 .col-xl-6 h4{
    font-size:45px;
    color:#525262;
}